
body {
  margin: 0;
  
}

a {
  text-decoration: none;
  color: black;
 
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


header {
  display: flex;
  height: 70px;
  background-color: aliceblue;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}

.logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px; /* Ajusta el ancho del enlace según las dimensiones del logo */
  height: 100px; /* Ajusta la altura del enlace según las dimensiones del logo */
  z-index: 1;
}

.logo img {
  height: 100px;
  margin-top: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
  font-family: 'Alkatra', cursive;
}

nav a:hover {
  color: rgb(201, 55, 201);
}

.section-divider {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.2));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}


#a a {
  text-decoration: none;
  color: #181616;
  font-family: 'Alkatra', cursive;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; 
  font-style: italic; 
  
}

#a a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(236, 101, 209, 0.795);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  
}

#a a:hover::before {
  transform: scaleX(1);
}


#b {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Alkatra', cursive;
}

#c {
  background-color: rgba(175, 89, 158, 0.3);
  color: #0f0f0f;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: center;
  border: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5%;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Alkatra', cursive;
}

#d {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#e {
  background-color: #af599e;
  font-family: "Sofia", sans-serif;
  text-align: center;
  color: #fbfbfb;
  margin-top: 20px;
  height: 90px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Alkatra', cursive;
  line-height: 1.2;
}

#h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  shape-outside: circle();
  clip-path: circle();
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconos {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  min-width: 50px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 110px;
}

.iconos a {
  display: inline-block;
  margin: 10px;
  position: relative;
}

.iconos a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(186, 148, 234, 0.5);
}

.container {
  border: 1px;
  padding: 10px;
  background-color: #af599e;
  color: #fbfbfb;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  border-radius: 50px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


#change-font {
  display: block;
  margin: 0 auto;
}

.change-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4rem;
}

#change-font:hover {
  background-color: #af599e;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
  max-width: 1200px;
  margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/


/* Estilos para dispositivos móviles */
@media screen and(max-width:980px) {
  body {
    width: 90%;
  }
  header {
    width: 90%;
  }
  
}

@media (min-width: 1024px){

  b{
    font-size: 48px;
    text-align: left;
  }
  c{
    font-size: 32px;
  }
}

.image-container {
  width: 200px; /* Ajusta el tamaño del círculo según tus necesidades */
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
